@model _ProyectoFinal_Johanny_Vivas_Arias.Models.Machine

@{
    ViewData["Title"] = "MachineOne";
}

<h1>Maquina #2</h1>

@if (Model == null)
{
    <p>
        <a asp-action="ViewCreateMachine">Create Machine</a>
    </p>
}

<p>
    <a asp-action="Configuration">REGRESAR</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.id)*@
                ID
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.name)*@
                NOMBRE
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.failProbability)*@
                PROBAVILIDAD DE FALLO
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.productsPerHour)*@
                PRODUCTOS X HORA
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.timeToFix)*@
                TIEMPO REPARACION
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.status)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model) {*@
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.failProbability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.productsPerHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.timeToFix)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => Model.status)
                </td>*@
            <td>
                @Html.ActionLink("Editar", "ViewEditMachine", new { id = Model.id })
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @*@Html.ActionLink("Delete", "DeleteMachine", new { id = Model.id })*@
            </td>
        </tr>
        @*}*@
    </tbody>
</table>
